@media (max-width:1276px){
    .header .logo{
        padding-bottom: 15px;
    }
    
    .header .logo img{
        height: 4rem;
    }

    .container .mockups img{
        margin: 0 40px;
        max-width: 100%;
        margin: 0;
    }

    .social{
        margin-top: 90px;
    }
}

@media(max-width:1024px){
    body{
        background-size: cover;
    }

    .container .mockups{
        margin: 0 30px;
    }
}

@media(max-width:768px){
    .container .mockups{
        margin: 0 30px;
    }

    .container .info h2{
        font-size: 3rem;
    }

    .container .info p{
        font-size: 1.8rem;
    }

    .container .btn{
        margin-top: 25px;
    }

    .social{
        margin-right: 80px;
    }
}

@media (max-width:426px){
    .header .logo{
        margin: 30px auto 70px auto;
        padding: 30px;
    }
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .container .mockups img{
        max-width: 100%;
    }

    .container{
        max-width: 350px;
        margin: auto;
    }

    .container .info h2{
        margin:0;
        padding: 15px;
    }

    .container .info p{
        text-align: justify;
        margin: 0;
        padding: 15px;
    }

    .container .btn{
        margin: 25px auto;
    }

    .social{
        margin: 20px auto;
        justify-content: center;
        margin-left: -30px;
    }
}