html{
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    background-image: url('../images/bg-desktop.svg');
    background-color: var(--primary-color);
    background-size: contain;
}
.header .logo{
    display: block;
    padding: 25px 30px 30px 70px;
}

.header .logo img{
    height: 5rem;
    margin-left: 0;
}

.container{
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
}

.container .mockups{
    margin: 0 70px;
    margin-left: 60px;
}

.container .info{
    margin: 50px auto auto 0;
    display: flex;
    flex-direction: column;
}
.container .info h2{
    font-size: 4rem;
    text-transform: capitalize;
    color: #fff;
    max-width: 450px;
    font-weight: 700;
    margin: 0 0 25px;
    width: 100%;
}

.container .info p{
    font-size: 2rem;
    color: #fff;
    font-weight: 400;
    margin-bottom: 25px;
    max-width: 580px;
}

.container .btn{
    max-width: 250px;
    padding: 15px 75px;
    border-radius: 30px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 20px rgba(48, 46, 77, 1);
}

.container .btn:hover{
    background-color: var(--soft-color);
}

.social{
    display: flex;
    justify-content: flex-end;
    font-size: 3rem;
    margin-right: 90px;
    align-self: flex-start;
}

.social a{
    margin-left: 30px;  
}

.social a i{
    transition: 0.3s ease-in-out;
    color: #fff;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 50%
}

.social a i:hover{
    color: var(--soft-color);
}

.social a i:hover{
    border-color: var(--soft-color);
    transition: 0.3s ease-in-out;
}

